* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100px;
  width: 100%;
  background-color: orange;
}
.head {
  margin-left: 2rem;
}
.logo {
  width: 150px;
  height: 80px;
  max-height: 100px;
}
.head li {
  list-style: none;
}
.head a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 2.5;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  width: 90%;
  padding: 5px;
}
.nav_links {
  display: flex;
  gap: 30px;
}
.nav_links li {
  list-style: none;
}
.nav_links li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
}
.nav_links a:hover {
  color: black;
}
.hero {
  height: 80vh;
  width: 100%;
  background-image: url(/images/Profile.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.banner {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 4rem;
  max-height: 180px;
}
.bannertext {
  font-size: 6rem;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  text-align: center;
}
.button {
  display: block;
  width: fit-content;
  padding: 0.7rem 1.5rem;
  background-color: orange;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  transition: background 0.3s ease-in;
}
#gallery {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 6rem;
}
#gallery img {
  box-shadow: 10px 10px 10px #777;
}
.build {
  width: 60vh;
  height: 60vh;
}
.indoor {
  width: 60vh;
  height: 60vh;
}
.ceiling {
  width: 60vh;
  height: 60vh;
}
.button:hover {
  background: darkorange;
}
.container-2 {
  height: 400vh;
  width: 100%;
  background-color: lightgrey;
}
.box {
  width: 100vh;
  height: 100vh;
  background-color: rgb(46, 46, 146);
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}
.solution {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.values {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.values li {
  list-style: none;
  color: white;
}
.organization {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}
.phrase {
  color: white;
  font-weight: bold;
  text-align: center;
}
.paragraph {
  color: white;
}
.slogan {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin: 4rem;
  margin-left: 4rem;
}
.pipes {
  width: 70vh;
  height: 80vh;
  margin-top: 4rem;
}
.background {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: 4rem;
}
.audience {
  font-size: 2em;
  font-weight: bold;
  color: black;
  line-height: 2;
}
.paragraph-2 {
  max-width: 50ch;
  font-size: medium;
  font-weight: lighter;
  margin-bottom: 2rem;
  color: black;
}
.button-2 {
  display: block;
  width: fit-content;
  padding: 0.8rem 1.5rem;
  background-color: white;
  text-transform: uppercase;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.button-2:hover {
  background-color: black;
  color: white;
}
.container-3 {
  width: 100%;
  height: 65vh;
  background: rgb(18, 18, 61);
}
.footer-2 {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  padding: 4rem;
  margin-left: 10rem;
  padding-top: 6rem;
}
.row {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.row li {
  list-style: none;
}
.item-2 {
  color: lightgrey;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: small;
}
.row-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row-2 li {
  list-style: none;
}
.item-3 {
  color: lightgrey;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: small;
}
.row-3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
}
.row-3 li {
  list-style: none;
}
.h {
  width: 400px;
  border: 1px solid grey;
}
.h-2 {
  border: 1px solid grey;
  width: 1290px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}
.box-4 {
  margin-bottom: 8rem;
  font-size: small;
}
.copyright {
  color: lightgray;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
}
.container-4 {
  height: 50vh;
  width: 100%;
  background-image: url(./images/office.jpg);
  background-size: 100% 100%;
}
.container-5 {
  height: 200vh;
  width: 100%;
  background-color: lightgrey;
}
